{% extends 'front.html.twig' %}

{% block front %}
	<div class="row">
		<div class="col-12">
			<h3 class="mb-4">{{ guest.name }}</h3>
			<p class="mb-5 w-100">{{ guest.description }}</p>
			<div class="row">
				{% for media in mediaList %}
					<div class="col-4 media mb-4">
						<img class="w-100" src="{{ asset(media.path) }}" alt="{{ media.title }}">
					</div>
				{% endfor %}
			</div>

			{% include 'partials/_pagination.html.twig' with {
				basePath: 'guest',
                queryParams: {id: guest.id},
				page: page,
				totalPages: totalPages
			} %}

		</div>
	</div>
{% endblock %}